/* tagdiv newspaper RTL theme style By Mohammad Anbarestany (MACSE)
   www.Skilledup.ir
   m_anbarestany@hotmail.com
*/

.top-bar-style-1 .td-header-sp-top-widget {
	float: left !important;
}
.td-header-row [class*="td-header-sp"] {
	float: right;
}
.td_data_time {
	margin: 0 0 0 32px;
}
.td-header-sp-top-menu .td_ul_logout {
	margin: 0 0 0 16px;
}
.top-header-menu .avatar {
	margin-left: 6px;
	margin-right:inherit;
}
.top-header-menu li a {
	margin-left: 16px;
	margin-right: inherit;
}
.top-header-menu .td-icon-logout {
	margin-left: 2px;
	margin-right: inherit;
}
.header-search-wrap {
	right: inherit !important;
	left:0;
}
.td-header-main-menu {
	padding-left: 48px;
	padding-right: inherit;
}
.sf-menu a.sf-with-ul {
	padding-left: 31px;
	padding-right: 14px;
}
.td-header-wrap .td-drop-down-search::before {
	left: 19px;
	right: inherit;
}
.td-header-wrap .td-drop-down-search {
	left: 0;
	right: inherit;
}
.td-header-wrap .td-drop-down-search .btn {
	left: 20px;
	right: inherit;
}
.td-header-wrap #td-header-search {
	border-left: 0;
	border-right: 1px solid;
}
.sf-menu .td-icon-menu-down {
	padding-right: 7px;
	padding-left: 0;
}
.td-header-wrap .td-aj-search-results .td-module-thumb {
	margin-right: 20px;
	margin-left: inherit;
}
.td-header-wrap .td-aj-search-results .item-details {
    margin: 10px 115px 10px 20px;
}
.td-mega-span {
    float: right;
	margin-right: 22px;
	margin-left: inherit;
}
.td-mega-menu .td_block_mega_menu .td-next-prev-wrap {
    margin: 0 22px 22px 0;
}
/* CSS trick to avoid changing php codes */
.td-icon-menu-right::before {
    content: '\e80c';
}
.td-icon-menu-left::before {
    content: '\e80d';
}
/* end trick */
.sf-menu > li.td-normal-menu > ul.sub-menu {
	right: -15px;
	left: inherit;
}
.td-trending-now-wrapper .td-next-prev-wrap {
	left: 42px;
	right: inherit;
}
.td-next-prev-wrap a {
	margin-left: 7px;
}
.td-trending-now-post{
	padding-right: 15px;
	padding-left: 119px;
}
.td-grid-style-1 .td-medium-thumb .td-big-grid-meta {
    margin: 20px 19px 14px 0;
}
.td-grid-style-1 .td-big-thumb .td-big-grid-meta {
    margin: 0 20px 0 0;
}
.td-big-grid-post .td-module-meta-info {
    margin: 11px 20px 20px 0;
}
.td_block_template_1 .block-title {
    text-align: right;
}
.td-subcat-filter {
	right: inherit;
    left: 0;
    text-align: left;
}
.td-subcat-filter .td-subcat-list .td-subcat-item {
	margin-right: 30px;
	margin-left: inherit;
}
.td-subcat-filter .td-subcat-dropdown .td-subcat-more::before {
	left: 0;
	right: inherit;
}
.td-subcat-filter .td-subcat-dropdown {
    text-align: left;
}
.td-subcat-filter .td-subcat-dropdown .td-subcat-more {
	margin-right: 15px;
	margin-left: inherit;
	padding-right: 15px;
	padding-left: inherit;
}
.td-subcat-filter .td-subcat-dropdown ul {
	left: 0;
	right: inherit;
}
.td-subcat-filter .td-subcat-dropdown a {
    padding-left: 15px;
    padding-right: 21px;
}
.td_module_6 .item-details {
	margin-right: 116px;
	margin-left: inherit;
}
.td_module_6 .td-module-thumb {
    right: 0;
	left: inherit;
}
.td-block-row [class*="td-block-span"] {
    float: right;
}
.td-module-comments {
    float: left;
}
.td-module-comments a::after {
	right: 0;
	left: inherit;
    border-width: 3px 0 0 3px;
}
.td_social_type .td_social_button {
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.td_social_type .td_social_info {
    padding: 0 9px 0 0;
}
.td-social-style4 .td-sp {
	margin-right: inherit;
	margin-left: 5px;
}
.td_module_10 .td-module-thumb {
	right: 0;
	left: inherit;
}
.td_module_10 .item-details {
	margin-right: 244px;
	margin-left: inherit;
}
.td_ajax_load_more i {
	margin-right: 6px;
	margin-left: inherit;
}
.td_module_mx2 .item-details {
    margin: 0 100px 20px 0;
}
#td-mobile-nav {
    transform: translate3d(99%, 0, 0);
    -webkit-transform: translate3d(99%, 0, 0);
    -moz-transform: translate3d(99%, 0, 0);
    -ms-transform: translate3d(99%, 0, 0);
    -o-transform: translate3d(99%, 0, 0);
	right: -1%;
	left:inherit;
}
.td-pb-row [class*="td-pb-span"] {
    float: right;
}
.td-footer-wrapper .widget_categories li span {
	margin-left: 0;
	margin-right: inherit;
}
.widget_categories li .td-cat-no, .widget_categories .td-widget-no {
    float: left;
	margin-left: 10px;
	margin-right: inherit;
}
.td-social-style-2 .td-social-icon-wrap {
    margin: 5px 0 10px 10px;
}
.td-sub-footer-container .td-sub-footer-menu {
    float: left !important;
}
.td-sub-footer-container .td-sub-footer-menu {
    float: left !important;
}
.page-nav .pages {
    float: left;
    padding: 6px 6px 6px 0;
}
.page-nav a, .page-nav span {
    float: right;
    margin: 0 0 8px 8px;
}
.td-post-category {
	margin-left: 5px;
	margin-right: inherit;
}
.td-main-menu-logo {
  float: right;
  margin-left: 10px;
  margin-right: inherit;
}
.sf-menu li {
  float: right;
}
header .td-post-date {
  margin-right: 4px;
  margin-left: inherit;
  float: right;
}
header .td-post-comments {
  float: left;
}
header .td-post-views {
  float: left;
  margin-left: 22px;
  margin-right: inherit;
}
header .td-post-author-name {
  float: right;
}
.td-post-template-default .td-post-title .td-post-comments {
  margin-right: 22px;
  margin-left: inherit;
}
.td-post-template-default .td-post-title div.td-post-views {
  margin-left: 0;
  margin-right: inherit;
}
header .td-icon-views {
  margin-right: 0;
  margin-left: 5px;
}
header .td-icon-comments {
  margin-right: 0;
  margin-left: 5px;
}
.td-category li {
  margin: 0 0 5px 5px;
}
.td-post-sharing {
  text-align: right;
}
/* temporary fix */
.item-details .td-author-name {
    font-family: Verdana, Geneva, sans-serif !important;
}
.td_block_template_4 .td-block-title {
    text-align: right;
}
.td_block_template_4 .td-block-title > ::before {
    right: 10px;
	left: inherit;
}
.td-subfooter-menu li a {
    margin-left: 16px;
    margin-right: 0;
}
[class^="td-icon-"]::before, [class*=" td-icon-"]::before {
    line-height: inherit;
}
.td_block_big_grid_8 .td-grid-columns {
    float: right;
}
.td-related-row [class*="td-related-span"] {
    float: right;
}
.td-related-row .td-related-span4 {
    padding-right: 0;
    padding-left: 21px;
}
.td-tags li {
    float: right;
}
.author-box-wrap .desc {
    margin-right: 117px;
    font-size: 12px;
    margin-left: 0;
}
.author-box-wrap .avatar {
    float: right;
}
/* temporary fix */
.td-icon-right::before {
    content: '\e802';
}
.td-scroll-up {
	right: inherit;
    left: 5px;
}
.td-grid-style-3 .td-big-thumb .td-big-grid-meta {
    margin: 20px 20px 20px 0;
}
.td-front-end-display-block {
    left: 0;
    right: inherit;
}
.td-more-articles-box {
    border-width: 1px 1px 1px 0;
}
.td-close-more-articles-box {
    right: 14px;
    left: unset;
}
.td-icon-star-half {
    transform: scaleX(-1);
}
.post_td_gallery {
    direction: ltr;
}
.td-gallery-title {
    direction: rtl;
}
.td-gallery-controls-wrapper {
    direction: rtl;
}
.td-gallery-controls-wrapper {
    left: 0;
    right: inherit;
}
.td-post-small-box span {
    float: right;
}
.td-post-small-box a {
    margin-right: 4px;
    margin-left: inherit;
}
.td-tags span, .td-tags a {
    margin-right: 0;
    margin-left: 4px;
}